<header section-id="{{ sectionId }}" class='d-flex flex-column {% if  ('transparent' in settings.header_options)%}transparent{% endif %}'>
  <div id="fixed-header" class="header-inner" style="z-index: 99">
    <!-- input search for mobile view -->
    <div style="z-index: 3">
        {% set ab_settings=settings %}{% include 'components/header-announcement-bar.jinja' %}
         {% set header_settings=settings %}{% include 'components/header-search-header.jinja' %}
    
    </div>
    {# search on click #}
    <div style="position: relative; z-index: 1">
        <div class="sm-search-div">
          <div class="autocomplete" style="position: relative">
            <input type="text"
                   data-cat-id="{{ category.id }}"
                   class="form-control search-input-input"
                   placeholder="{% if settings.header_search_placeholder %}{{ settings.header_search_placeholder }}{% else %}{{ _('Search') }}{% endif %}"
            >
            <div class="autocomplete-items"></div>
          </div>
        </div>
    </div>
  </div>

    {% set menu_settings=settings %}{% include 'components/header-sliding-menu.jinja' %}
    {% set header_options = settings.header_options or [] %}

{% set show_country = 'hide_country' not in header_options %}
{% set show_language = 'hide_language' not in header_options %}
{% set multiple_countries = store.countries | length > 0 %}
{% set multiple_languages = store.languages | length > 0 %}

    

    {% if (show_country and multiple_countries) or (show_language and multiple_languages) %}
      <div class="modal" id="langCurrecyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body" style="padding: 10px">
              {% include 'vitrin:shared/locale_modal.jinja' %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

</header>