{% if product %}
<div class="mn-product-card">
<div class="d-none"></div>
    <div class="mn-product-img">
        {% if product.formatted_sale_price is not none %}
        <div class="lbl">
            <span class="sale">sale</span>
        </div>
        {% endif %}
        <div class="mn-img">
            <a href="/products/{{ product.slug }}" class="image">
                <img class="main-img" src="{{ product.main_image.image.large if product.main_image else (image_url(('product-img.svg' | asset_url), w=235, q=100, f='auto')) }}" alt="{{ product.name }}">
                {% if product.images and product.images|length > 1 %}
                <img class="hover-img" src="{{ product.images[1].image.large if product.images[1] else product.main_image.image.large }}" alt="{{ product.name }}">
                {% endif %}
            </a>
            <div class="mn-pro-loader"></div>
            <div class="mn-options">
                <ul>
                    <li><a href="javascript:void(0)" data-tooltip="" data-link-action="quickview" data-bs-toggle="modal"
                            data-bs-target="#quickview_modal" title="Quick View"><i class="ri-eye-line"></i></a></li>
                    <li><a href="javascript:void(0)" data-tooltip="" title="Compare" class="mn-compare"><i
                                class="ri-repeat-line"></i></a></li>
                    <li><a href="javascript:void(0)" data-tooltip="" title="Add To Cart" class="mn-add-cart"><i
                                class="ri-shopping-cart-line"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mn-product-detail">
        <div class="cat">
            <a href="shop-right-sidebar.html">watches</a>
        </div>
        <h5><a href="/products/{{ product.slug }}">{{ product.name | safe }}</a></h5>
        <div class="mn-price">
            {% if product.formatted_sale_price is not none %}
                <div class="mn-price-new">{{ product.formatted_sale_price }}</div>
                <div class="mn-price-old">{{ product.formatted_price }}</div>
            {% else %}
                <div class="mn-price-new">{{ product.formatted_price }}</div>
            {% endif %}
        </div>
        <div class="mn-pro-option">
            <div class="mn-pro-color">
                <ul class="mn-opt-swatch mn-change-img">
                    <li class=""><a href="#" class="mn-opt-clr-img loaded" data-src="assets/img/product/11.jpg"
                            data-src-hover="assets/img/product/12.jpg" data-tooltip="Orange"><span
                                style="background-color:#f3f3f3;"></span></a></li>
                    <li class="active"><a href="#" class="mn-opt-clr-img loaded" data-src="assets/img/product/12.jpg"
                            data-src-hover="assets/img/product/11.jpg" data-tooltip="Orange"><span
                                style="background-color:#242424;"></span></a></li>
                </ul>
            </div>
            {% if store.settings.products.wishlist_enabled == true %}
            <span class="mn-wishlist" data-wishlist-id="{{ product.id }}">
                <span zid-visible-customer="true">
                    <button zid-visible-wishlist="{{ product.id }}" class="icon-heart-mask filled" onclick="addToWishlist(this, '{{ product.id }}')"></button>
                    <button zid-hidden-wishlist="{{ product.id }}" class="icon-heart-mask" onclick="addToWishlist(this, '{{ product.id }}')"></button>
                </span>
                <a zid-visible-guest="true" class="icon-heart-mask" href="/auth/login?redirect_to={{ session.url.path }}" onclick="event.preventDefault(); handleLoginAction('', false); return false;"></a>
                <img class="loader d-none" src="{{ 'spinner.gif' | asset_url }}" width="20" height="20"/>
            </span>
            {% else %}
            <a href="javascript:void(0);" class="mn-wishlist" data-tooltip="" title="Wishlist">
                <i class="ri-heart-line"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}