
<section id="{{ sectionId }}" section-id="{{ sectionId }}"
         data-lg-scroll-offset="130"
         data-md-scroll-offset="130"
         data-sm-scroll-offset="94"
         class="hero-section1">
  <div class="">
    <div class="hero-slider">
        {% for slide in safeget(settings, "slider", []) %}
         {% set key=loop.index0 %}
            <div class="slider-item">
                <div class="mn-hero-slide slide-{{ key + 1 }}" style="background-image: url('{{slide.image}}');">
                    <div class="mn-hero-detail">
                        <p class="label" style="{% if settings.background_color_discount %} --backColor: {{ settings.background_color_discount }}; {% endif %}" >
                            <span style="{% if settings.color_discount %} color: {{ settings.color_discount }}; {% endif %}">{{ slide.rate }}<br>{{ slide.rate_text }}</span>
                        </p>
                        <h1 style="{% if settings.text_color %} color: {{ settings.text_color }}; {% endif %}" >{{ slide.title }}</h1>
                        <p style="{% if settings.text_color %} color: {{ settings.text_color }}; {% endif %}">{{ slide.sub_title }}</p>
                        <a href="{% if slide.url %}{{ slide.url }}{% else %}/{% endif %}" class="mn-btn-2"><span>{{ slide.button_text }}</span></a>
                    </div>
                    
                </div>                  
            </div>
        {% endfor %}
    </div>
  </div>
</section>


<script>
 
        document.addEventListener("DOMContentLoaded", function(){
        var arrowNextClass, arrowPrevClass;
        if (window.appDirection === 'ltr') {
            arrowNextClass = 'icon-keyboard_arrow_right';
            arrowPrevClass = 'icon-keyboard_arrow_left';
        } else {
            arrowNextClass = 'icon-keyboard_arrow_left';
            arrowPrevClass = 'icon-keyboard_arrow_right';
        }

        var screenWidth = window.screen.width;

        var editingMode = {% if store.editing_mode %}true{% else %}false{% endif %};

        if(screenWidth >= 768 || editingMode){
            $('[section-id={{ sectionId }}] .hero-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 500,
                adaptiveHeight: false,
                variableWidth: false,
                arrows: {% if (settings.hide_arrows or (settings.slider | length <= 1)) %}false{% else %}true{% endif %},
                dots: {% if (settings.hide_dots or (settings.slider | length <= 1)) %}false{% else %}true{% endif %},
                rtl: !(window.appDirection === 'ltr'),
                nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><span class="'+arrowNextClass+'"></span></button>',
                prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><span class="'+arrowPrevClass+'"></span></button>',
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 768
                    }
                ]
            });
        }
    });
</script>
