
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
  }
  50% {
    -webkit-transform: rotateZ(280deg);
            transform: rotateZ(280deg);
  }
  60% {
    -webkit-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  40% {
    -webkit-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
  }
  50% {
    -webkit-transform: rotateZ(280deg);
            transform: rotateZ(280deg);
  }
  60% {
    -webkit-transform: rotateZ(170deg);
            transform: rotateZ(170deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@-webkit-keyframes spinner-1 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes spinner-1 {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
#mn-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 999;
    background: rgb(255, 255, 255);
    .loader{
        width: 80px;
        height: 80px;
        font-family: Quicksand;
        font-size: 30px;
        font-weight: 600;
        color: rgb(58, 78, 229);
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(58, 78, 229);
        border-image: initial;
        border-radius: 50%;
        .shape {
            width: 72px;
            height: 72px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 50%;
            
            -webkit-animation: spinner 3s infinite linear;
                    animation: spinner 3s infinite linear;
                    &:after {
                        content: "";
                        width: 15px;
                        height: 15px;
                        display: block;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #3a4ee5;
                        }
        }
    }
}

/**/
@-webkit-keyframes jingle {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
.hero-section1 {
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      .mn-hero-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                .mn-hero-detail {
                  height: 600px;
                  padding-left: 100px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                      -ms-flex-direction: column;
                          flex-direction: column;
                  -webkit-box-align: start;
                      -ms-flex-align: start;
                          align-items: flex-start;
                  -webkit-box-pack: center;
                      -ms-flex-pack: center;
                          justify-content: center;
                          @media only screen and (max-width: 1399px) {
                            height: 500px;
                          }
                          @media only screen and (max-width: 1199px) {
                            height: 450px;
                          }
                          @media only screen and (max-width: 991px) {
                            padding-left: 70px;
                          }
                          @media only screen and (max-width: 767px) {
                            height: 400px;
                            padding-left: 50px;
                          }
                          @media only screen and (max-width: 575px) {
                            height: 350px;
                          }
                          @media only screen and (max-width: 420px) {
                             height: 280px;
                              padding-left: 30px;
                          }
                          @media only screen and (max-width: 380px) {
                             height: 230px;
                          }
                          @media only screen and (max-width: 340px) {
                            height: 200px;
                        }
                  h1 {
                    font-size: 65px;
                    font-weight: 600;
                    @media only screen and (max-width: 1599px) {
                      font-size: 60px;
                      line-height: 65px;
                    }
                    @media only screen and (max-width: 1399px) {
                      font-size: 50px;
                      line-height: 56px;
                    }
                    @media only screen and (max-width: 1199px) {
                      font-size: 48px;
                      line-height: 54px;
                    }
                    @media only screen and (max-width: 991px) {
                      font-size: 45px;
                      line-height: 50px;
                    }
                    @media only screen and (max-width: 767px) {
                            margin-bottom: 15px;
                            font-size: 34px;
                            line-height: 42px;
                    }
                    @media only screen and (max-width: 575px) {
                            font-size: 28px;
                            line-height: 32px;
                    }
                    @media only screen and (max-width: 420px) {
                      font-size: 23px;
                    line-height: 28px;
                    }
                    @media only screen and (max-width: 380px) {
                        font-size: 21px;
                        line-height: 25px;
                    }
                    @media only screen and (max-width: 340px) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                  }
                  p {
                    font-size: 15px;
                    @media only screen and (max-width: 767px) {
                            display: none;
                          }
                  }
                  .label {
                    height: 60px;
                    width: 60px;
                    margin-bottom: 30px;
                    padding: 5px 10px;
                    background-color: var(--backColor);
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    position: relative;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    border-radius: 5px;
                    -webkit-animation: jingle 4s infinite alternate ease-in-out;
                            animation: jingle 4s infinite alternate ease-in-out;
                            &:after, &:before{
                                height: 60px;
                                width: 60px;
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                border-radius: 5px;
                                background: var(--backColor); /* ffd783*/
                                @media only screen and (max-width: 575px) {
                                  height: 50px;
                                  width: 50px;
                          }
                            }
                            &:before{
                               -webkit-transform: rotate(30deg);
                               transform: rotate(30deg);
                            }
                            &:after{
                               -webkit-transform: rotate(60deg);
                               transform: rotate(60deg);
                            }
                            span {
                                z-index: 5;
                                text-align: center;
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 21px;
                                // color: #313b50;
                                @media only screen and (max-width: 575px) {
                                  font-size: 12px;
                                  line-height: 13px;
                                }
                              }
                          @media only screen and (max-width: 575px) {
                            height: 50px;
                            width: 50px;
                            margin-bottom: 15px;
                          }
                  }
                }
      }
}

/* Responsive css */
@media only screen and (max-width: 1599px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 60px;
    line-height: 65px;
  }
}
@media only screen and (max-width: 1399px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 500px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 50px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 1199px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 450px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 48px;
    line-height: 54px;
  }
}
@media only screen and (max-width: 991px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    padding-left: 70px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 45px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 400px;
    padding-left: 50px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    margin-bottom: 15px;
    font-size: 34px;
    line-height: 42px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail p {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 350px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label {
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label:after, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label:before {
    height: 50px;
    width: 50px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label span {
    font-size: 12px;
    line-height: 13px;
  }
}
@media only screen and (max-width: 480px) {
  .mn-hero .owl-dots {
    display: none;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 300px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label {
    height: 40px;
    width: 40px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label:after, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label:before {
    height: 40px;
    width: 40px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail .label span {
    font-size: 12px;
    line-height: 13px;
  }
}
@media only screen and (max-width: 420px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 280px;
    padding-left: 30px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 23px;
    line-height: 28px;
  }
  .mn-hero .owl-nav {
    display: none;
  }
}
@media only screen and (max-width: 380px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 230px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 21px;
    line-height: 25px;
  }
  .mn-hero .owl-nav {
    display: none;
  }
}
@media only screen and (max-width: 340px) {
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail {
    height: 200px;
  }
  .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h1, .mn-hero .mn-hero-slider .mn-hero-slide .mn-hero-detail h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .mn-hero .owl-nav {
    display: none;
  }
}















/** Category section css **/
.mn-cat .mn-cat-card {
  padding: 15px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-color: #e1e5e9;
}
.mn-cat .mn-cat-card:hover:after {
  bottom: -100px;
}
.mn-cat .mn-cat-card:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.mn-cat .mn-cat-card h3 {
  font-size: 25px;
  font-weight: 700;
  color: #313b50;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}
.mn-cat .mn-cat-card h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #313b50;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}
.mn-cat .mn-cat-card p {
  color: #313b50;
}
.mn-cat .mn-cat-card .bg {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #313b50;
  opacity: 0.05;
  z-index: 0;
}
.mn-cat .mn-cat-card .lbl {
  height: 30px;
  margin-bottom: 15px;
  padding: 3px 6px 3px 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #313b50;
  color: #fff;
  border-radius: 15px 0 0 15px;
  position: relative;
}
.mn-cat .mn-cat-card .lbl span {
  font-size: 14px;
  z-index: 2;
}
.mn-cat .mn-cat-card .lbl:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: -10px;
  border: 15px solid #313b50;
  border-right: 10px solid transparent;
  z-index: 0;
}
.mn-cat .mn-cat-card ul {
  margin: -5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 5;
}
.mn-cat .mn-cat-card ul li {
  margin: 5px;
  padding: 5px;
  background-color: #f1f0f4;
  border-radius: 15px;
}
.mn-cat .mn-cat-card ul li img {
  width: 100%;
  border-radius: 10px;
}

/* Responsive Category css */
@media only screen and (max-width: 991px) {
  .mn-cat .mn-cat-card h3 {
    font-size: 24px;
  }
  .mn-cat .mn-cat-card h4 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 767px) {
  .mn-cat .mn-cat-card h3 {
    font-size: 23px;
  }
  .mn-cat .mn-cat-card h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .mn-cat .mn-cat-card h3 {
    font-size: 22px;
  }
}
